@keyframes show-player {
  0% {
    bottom: -80px;
  }
  100% {
    bottom: -10px;
  }
}


.player {
  display: block;
  position: fixed;
  left: 0;
  bottom: -10px;
  z-index: 100;
  transform: translateZ(0);
  box-shadow: 0 -3px 0 0 rgba(0, 0, 0, .1);
  border-top: 1px solid rgba(0, 0, 0, .2);
  width: 100%;
  height: 71px;
  background: #2d2e2f;

  animation-name: show-player;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 300ms;
}


//=====================================
//  Player Timeline
//-------------------------------------
.player-timeline {
  height: 4px;
  background: #3a3b3c;
  cursor: pointer;
}


//=====================================
//  Player Controls
//-------------------------------------
.player-controls {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding-top: 8px;
  max-width: 970px;
  font-size: rem(13px);

  .btn--icon {
    fill: #5d5e5f;

    &:active {
      background: rgba(0, 0, 0, 0.15);
    }

    &:hover {
      fill: #78797a;
    }
  }
}

.player-controls__time {
  padding: 0 10px;
}

.player-controls__title {
  flex: 1;
  padding: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

.player-controls__volume {
  display: flex;
  align-items: center;

  > span {
    width: 35px;
    text-align: center;
  }
}
